.main {
  .inputs {
    width: 100%;
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: center;
    .in-country {
      border: 0;
      background: white;
      margin-left: 1em;
    }
    .countries {
      display: none;
    }    
  }
}
body {
  background-color: red;
}