* {
  margin: 0;
  padding: 0;

}
.main {
  .inputs {
    background: rgb(199, 137, 66);
    width: 100%;
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: center;
    .in-country {
      border: 0;
      background: white;
      margin-left: 1em;
    }
    .btn {
      margin-left: 1em;
      border: 0;
      padding: 0.25em 0.75em;
    }
    .countries {
      display: none;
    }    
  }
  .pull-cities {
    background: rgb(119, 90, 212);
    .city-name {
      font-style: 2em;
      text-align: center;
      padding: 1em 0;
    }
    .ul {
      .li {
        padding: 1em 0;
        border-top: 2px solid #000;
        text-align: center;
        width: 60%;
        margin: auto;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr .1fr;
        .sh-ico {
          cursor: pointer;
          pointer-events: auto;
          background: #f7f7f7;
          height: 20px;
          width: 20px;
          display: flex;
          align-items: center;
          justify-content: center;
          font-size: 1.5em;
          font-weight: 800;
          border-radius: 50%;
        }
        span {
          pointer-events: none;
        }
        &.accordion {
          transition: max-height 0.2s ease-out;
          .panel {
            padding: 0 1em;
            background-color: white;
            display: none;
            overflow: hidden;
            overflow: hidden;
            transition: max-height 0.2s ease-out;
          }
        }
        .city-space-details {
          grid-column: 1/5;
          margin-top: 1em;
          transition: max-height 0.2s ease-out;
        }
      }
    }
  }
}